# Directories #
Homework1-ear/build/
Homework1-ear/bin/
Homework1-ear/target/
Homework1-ear/libs/
Homework1-ear/tmp/
Homework1-ear/node_modules/
Homework1-ejb/build/
Homework1-ejb/bin/
Homework1-ejb/target/
Homework1-ejb/libs/
Homework1-ejb/tmp/
Homework1-ejb/node_modules/
Homework1-web/build/
Homework1-web/bin/
Homework1-web/target/
Homework1-web/libs/
Homework1-web/tmp/
Homework1-web/node_modules/


######################
# NetBeans
######################
Homework1-web/nbproject/
Homework1-web/build/
Homework1-web/nbbuild/
Homework1-web/dist/
Homework1-web/nbdist/
Homework1-web/nbactions.xml
Homework1-web/nb-configuration.xml
Homework1-ear/nbproject/
Homework1-ear/build/
Homework1-ear/nbbuild/
Homework1-ear/dist/
Homework1-ear/nbdist/
Homework1-ear/nbactions.xml
Homework1-ear/nb-configuration.xml
Homework1-ejb/nbproject/
Homework1-ejb/build/
Homework1-ejb/nbbuild/
Homework1-ejb/dist/
Homework1-ejb/nbdist/
Homework1-ejb/nbactions.xml
Homework1-ejb/nb-configuration.xml

/target/
/WriteFrontEnd/target/
/FyleSystemService/Homework1-ear/target/
/FyleSystemService/Homework1-ejb/target/
/FyleSystemService/Homework1-web/target/
/ReplicaManager/target/